<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PurchaseDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PurchaseManager" connectionString="metadata=res://*/DataModel.Model.csdl|res://*/DataModel.Model.ssdl|res://*/DataModel.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);user id=sa;password=Softland358;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PurchaseManagerContext" connectionString="metadata=res://*/DataModel.Modelo.csdl|res://*/DataModel.Modelo.ssdl|res://*/DataModel.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=PurchaseManager;persist security info=True;user id=sa;password=Softland358;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <PurchaseDesktop.Properties.Settings>
      <setting name="Email" serializeAs="String">
        <value>facturacionchile@capvertenergie.com</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Che@2019!</value>
      </setting>
    </PurchaseDesktop.Properties.Settings>
  </applicationSettings>
</configuration>